[package]
name = "autopush_common"
# Should match version in ../autopush/Cargo.toml
version = "1.65.0"
authors = [
  "Ben Bangert <ben@groovie.org>",
  "JR Conlin <jrconlin@mozilla.com>",
  "Alex Crichton <alex@alexcrichton.com>",
  "Phil Jenvey <pjenvey@underboss.org>",
]
edition = "2021"

[lib]
name = "autopush_common"

[dependencies]
again = "0.1"
actix-web = "4.0"
async-trait = "0.1"
base64 = "0.13"
backtrace = "0.3"
cadence = "0.29"
chrono = "0.4"
config = "0.13"
fernet = "0.1.3"
futures = "0.3"
futures-backoff = "0.1.0"
google-cloud-rust = "0.14"
hex = "0.4.2"
httparse = "1.3"
hyper = {version="0.14"}
lazy_static = "1.4.0"
log = { version = "0.4", features = ["max_level_info", "release_max_level_info"] }
mozsvc-common = "0.2"
openssl = "0.10"
rand = "0.8"
regex = "1.4"
reqwest = "0.11"
rusoto_core = { version="0.47", default-features=false, features=["rustls"] } # locked by serde_dynamodb 0.9
rusoto_credential = { version="0.47"} # locked by serde_dynamodb 0.9
rusoto_dynamodb = { version="0.47", default-features=false, features=["rustls"]} # locked by serde_dynamodb 0.9
sentry = { version = "0.25" }
serde = "1.0"
serde_derive = "1.0"
serde_dynamodb = "0.9"
serde_json = "1.0"
slog = { version = "2.7", features = ["max_level_trace", "release_max_level_info"] }
slog-async = "2.6.0"
slog-term = "2.6.0"
slog-mozlog-json = "0.1.0"
slog-scope = "4.4.0"
slog-stdlog = "4.1.0"
smallvec = "1.6"  # for RUSTSEC-2021-0003
thiserror = "1.0"
tokio = { version = "1.17", features = ["fs"] }
tokio-core = "0.1.17"
tokio-postgres = "0.7"
tungstenite = { version = "0.17", default-features = false }
url = "2.2"
uuid = { version = "1.1", features = ["serde", "v4"] }
