[package]
name = "autopush_common"
version.workspace = true
authors.workspace = true
edition.workspace = true

[lib]
name = "autopush_common"

[dependencies]
base64.workspace = true
cadence.workspace = true
chrono.workspace = true
config.workspace = true
fernet.workspace = true
hex.workspace = true
httparse.workspace = true
lazy_static.workspace = true
log.workspace = true
openssl.workspace = true
rand.workspace = true
regex.workspace = true
sentry.workspace = true
serde.workspace = true
serde_derive.workspace = true
serde_dynamodb.workspace = true
serde_json.workspace = true
slog.workspace = true
slog-async.workspace = true
slog-envlogger.workspace = true
slog-mozlog-json.workspace = true
slog-scope.workspace = true
slog-stdlog.workspace = true
slog-term.workspace = true
smallvec.workspace = true
thiserror.workspace = true
uuid.workspace = true
url.workspace = true

futures = "0.1.29" # 0.1.30 requires hyper 0.13+
futures-backoff = "0.1.0"
hyper = "0.12.36" # 0.13+ requires too many changes
mozsvc-common = "0.1.1"
reqwest = "0.9.24"  # 0.10+ requires futures 0.3+
rusoto_core = "0.42.0"  # 0.46+ requires futures 0.3+
rusoto_credential = "0.42.0"  # 0.46+ requires futures 0.3+
rusoto_dynamodb = "0.42.0"  # 0.46+ requires futures 0.3+
tokio-core = "0.1.17"
tungstenite = { version = "0.9.2", default-features = false } # 0.10+  requires hyper 0.13+
