[package]
name = "autopush_common"
version.workspace = true
authors.workspace = true
edition.workspace = true

[lib]
name = "autopush_common"

[dependencies]
actix-web.workspace = true
backtrace.workspace = true
base64.workspace = true
cadence.workspace = true
config.workspace = true
fernet.workspace = true
futures.workspace = true
hex.workspace = true
lazy_static.workspace = true
log.workspace = true
rand.workspace = true
regex.workspace = true
sentry.workspace = true
serde_derive.workspace = true
sentry-backtrace.workspace = true
serde.workspace = true
serde_json.workspace = true
slog.workspace = true
slog-async.workspace = true
slog-envlogger.workspace = true
slog-mozlog-json.workspace = true
slog-scope.workspace = true
slog-stdlog.workspace = true
slog-term.workspace = true
tokio.workspace = true
tokio-core.workspace = true
tokio-postgres.workspace = true
thiserror.workspace = true
url.workspace = true
uuid.workspace = true

again = "0.1"
async-trait = "0.1"
chrono = "0.4"
futures-backoff = "0.1.0"
google-cloud-rust-raw = "0.14"
grpcio = "0.12"
httparse = "1.3"
hyper = {version="0.14"}
mozsvc-common = "0.2"
openssl = "0.10"
protobuf = "2.28.0" # google-cloud-rust requires locked protobuf 2.28.0
reqwest = "0.11"
rusoto_core = { version="0.47", default-features=false, features=["rustls"] } # locked by serde_dynamodb 0.9
rusoto_credential = { version="0.47"} # locked by serde_dynamodb 0.9
rusoto_dynamodb = { version="0.47", default-features=false, features=["rustls"]} # locked by serde_dynamodb 0.9
serde_dynamodb = "0.9"
smallvec = "1.6"  # for RUSTSEC-2021-0003
tungstenite = { version = "0.17", default-features = false }
