[workspace]
members = [
    "autopush-common",
    "autopush",
    "autoendpoint",
]

[workspace.package]
version = "1.65.0"
authors = [
  "Ben Bangert <ben@groovie.org>",
  "JR Conlin <jrconlin@mozilla.com>",
  "Alex Crichton <alex@alexcrichton.com>",
  "Phil Jenvey <pjenvey@underboss.org>",
  "Mark Drobnak <mdrobnak@mozilla.com>"
]
edition = "2021"

[workspace.dependencies]
# several of these libraries are pinned due to https://github.com/mozilla-services/autopush-rs/issues/249
actix = "0.13.0"
actix-cors = "0.6"
actix-http = "3.0"
actix-rt = "2.7"   # 2.0+ requires futures 0.3+
actix-test = "0.1"
actix-web = "4.0"
actix-web-actors = "4.0"

backtrace="0.3"
base64 = "0.13"
cadence = "0.29"
config = "0.13"
fernet = "0.2"

futures = "0.3"
futures-util = {version="0.3", features=["async-await", "compat", "sink", "io"]}
futures-locks = "0.7"

hex = "0.4.2"
lazy_static = "1.4.0"
log = {version="0.4", features = ["max_level_info", "release_max_level_info"] }
openssl = "0.10"
rand = "0.8"
regex = "1.4"
# Using debug-logs avoids https://github.com/getsentry/sentry-rust/issues/237
sentry = { version = "0.29", features = ["debug-logs"] }
sentry-backtrace = "0.29"
serde = { version = "1.0", features = ["derive"] }
serde_derive = "1.0"
serde_dynamodb = "0.9"
serde_json = "1.0"
slog = { version = "2.7", features = ["max_level_trace", "release_max_level_error", "dynamic-keys"] }
slog-async = "2.6"
slog-envlogger = "2.2.0"
slog-mozlog-json = "0.1"
slog-scope = "4.4"
slog-stdlog = "4.1"
slog-term = "2.6"
tokio = { version = "1.17", features = ["fs"] }  # 1.1+ requires futures 0.3+
tokio-compat-02 = "0.2"
tokio-core = "0.1"
tokio-io = "0.1.13"
tokio-openssl = "0.6"
tokio-postgres = "0.7"
tokio-service = "0.1"
tokio-tungstenite = { version = "0.17", default-features = false }
thiserror = "1.0"
tungstenite = { version = "0.17", default-features = false }
uuid = { version = "1.0", features = ["serde", "v4"] }
url = "2.2"

[profile.release]
debug = 1
