[package]
name = "autoendpoint"
version.workspace = true
authors.workspace = true
edition.workspace = true

[dependencies]
actix-http.workspace = true
actix-web.workspace = true
actix-rt.workspace = true
actix-cors.workspace = true
backtrace.workspace = true
base64.workspace = true
cadence.workspace = true
config.workspace = true
docopt.workspace = true
fernet.workspace = true
futures.workspace = true
futures-util.workspace = true
hex.workspace = true
lazy_static.workspace = true
log.workspace = true
openssl.workspace = true
rand.workspace = true
regex.workspace = true
reqwest.workspace = true
rusoto_core.workspace = true
rusoto_dynamodb.workspace = true
sentry.workspace = true
sentry-actix.workspace = true
sentry-core.workspace = true
serde.workspace = true
serde_derive.workspace = true
serde_dynamodb.workspace = true
serde_json.workspace = true
slog.workspace = true
slog-async.workspace = true
slog-mozlog-json.workspace = true
slog-scope.workspace = true
slog-stdlog.workspace = true
slog-term.workspace = true
thiserror.workspace = true
tokio.workspace = true
url.workspace = true
uuid.workspace = true

a2 = { version = "0.8" }
bytebuffer = "2.1"
again = { version = "0.1.2", default-features = false, features = [
    "log",
    "rand",
] }
async-trait = "0.1"
autopush_common = { path = "../autopush-common" }
jsonwebtoken = "8.0" # v9.0 breaks vapid aud tests. https://mozilla-hub.atlassian.net/browse/SYNC-4201
validator = "0.17"
validator_derive = "0.17"
yup-oauth2 = "8.1"

# For mockito test debugging
#ureq={ version="2.4", features=["json"] }

[dev-dependencies]
mockall.workspace = true
mockito = "0.31"
tempfile = "3.2.0"
tokio = { workspace = true, features = ["fs", "macros"] }

[features]
default = ["dual"]
bigtable = ["autopush_common/bigtable"]
dynamodb = ["autopush_common/dynamodb"]
dual = ["bigtable", "dynamodb"]
emulator = ["bigtable"]
adm = []
