[package]
name = "autoendpoint"
# Should match version in ../autopush/Cargo.toml
version = "1.62.0"
authors = ["Mark Drobnak <mdrobnak@mozilla.com>", "jrconlin <me+crypt@jrconlin.com>"]
edition = "2021"

[dependencies]
# Using a fork temporarily until these three PRs are merged:
# - https://github.com/pimeys/a2/pull/49
# - https://github.com/pimeys/a2/pull/48
# - https://github.com/pimeys/a2/pull/47
# The `autoendpoint` branch merges these three PRs together.
# The version of a2 at the time of the fork is v0.5.3.
a2 = { git = "https://github.com/mozilla-services/a2.git", branch = "autoendpoint" }
# several of these libraries are pinned due to https://github.com/mozilla-services/autopush-rs/issues/249
actix-http = "3.0"
actix-web = "4.0"
awc = "3.0"
actix-rt = "2.7"   # 2.0+ requires futures 0.3+
actix-cors = "0.6"
actix-test = "0.0"
again = { version = "0.1.2", default-features = false, features = ["log"] }
async-trait = "0.1"
autopush_common = { path = "../autopush-common" }
backtrace = "0.3"
base64 = "0.13"
cadence = "0.29"
config = "0.13"
docopt = "1.1.0"
fernet = "0.1.3"
futures = "0.3"
hex = "0.4.2"
jsonwebtoken = "8.0"
lazy_static = "1.4.0"
log = "0.4"
openssl = "0.10"
regex = "1.4"
reqwest = "0.11"
# datbases
rusoto_core = {version="0.48", default-features = false, features = ["rustls"]}
rusoto_dynamodb = {version="0.48", default-features = false, features = ["rustls"]}
# postgres = "0.19" # sync
tokio-postgres = "0.7"  # async

# Using debug-logs avoids https://github.com/getsentry/sentry-rust/issues/237
sentry = { version = "0.25", features = ["debug-logs"] }
sentry-backtrace = "0.25"
serde = { version = "1.0", features = ["derive"] }
serde_dynamodb = "0.9"
serde_json = "1.0"
slog = { version = "2.7", features = ["max_level_trace", "release_max_level_error", "dynamic-keys"] }
slog-async = "2.6"
slog-envlogger = "2.2.0"
slog-mozlog-json = "0.1"
slog-scope = "4.4"
slog-stdlog = "4.1"
slog-term = "2.6"
smallvec = "1.6"  # for RUSTSEC-2021-0003
tokio = { version = "1.17", features = ["fs"] }  # 1.1+ requires futures 0.3+
thiserror = "1.0"
url = "2.2"
uuid = { version = "1.0", features = ["serde", "v4"] }
validator = "0.15"
validator_derive = "0.15"
yup-oauth2 = "6.5"

# For mockito test debugging
# ureq={ version="2.4", features=["json"] }

[dev-dependencies]
mockall = "0.8.3"  # 0.9+ requires reworking tests
mockito = "0.31.0"
tempfile = "3.2.0"
tokio = { version = "1.17", features = ["macros"] }
