[package]
name = "autopush"
version = "1.62.0"
authors = [
  "Ben Bangert <ben@groovie.org>",
  "JR Conlin <jrconlin@mozilla.com>",
  "Alex Crichton <alex@alexcrichton.com>",
  "Phil Jenvey <pjenvey@underboss.org>",
]
edition = "2021"

[[bin]]
name = "autopush_rs"
path = "src/main.rs"

[dependencies]
actix = "0.13.0"
actix-cors = "0.6"
actix-web = "4.0"
actix-web-actors = "4.0"
autopush_common = { path = "../autopush-common" }
base64 = "0.13"
bytes = "1.1"
cadence = "0.29"
crossbeam-channel = "0.5"
chrono = "0.4"
config = "0.13"
docopt = "1.1.0"
env_logger = "0.9"
error-chain = "0.12"
fernet = "0.1.3"
futures = "0.3"
futures_01 = {version="0.1", package = "futures"}
futures-util = {version="0.3", features=["async-await", "compat", "sink", "io"]}
futures-locks = "0.7"
hex = "0.4.2"
httparse = "1.3"
hyper = "0.14"
lazy_static = "1.4.0"
log = { version = "0.4", features = ["max_level_trace", "release_max_level_info"] }
mozsvc-common = "0.2"
openssl = "0.10"
reqwest = "0.11"
rusoto_core = { version="0.48", default-features=false, features=["rustls"] }
rusoto_dynamodb = {version="0.48", default-features=false, features=["rustls"]}
sentry = { version = "0.25"}
sentry-backtrace = "0.25"
serde = "1.0"
serde_derive = "1.0"
serde_dynamodb = "0.9"  # 0.7+ requires rusoto 0.46+
serde_json = "1.0"
signal-hook = "0.3"
slog = { version = "2.7", features = ["max_level_trace", "release_max_level_info"] }
slog-async = "2.6"
slog-term = "2.6"
slog-mozlog-json = "0.1"
slog-scope = "4.4"
rust-fsm = "0.6"
tokio={ version="1.17", features=["full"]}
tokio-compat-02 = "0.2"
tokio-core = "0.1"
tokio-io = "0.1.13"
tokio-openssl = "0.6"
tokio-service = "0.1"
tokio-tungstenite = { version = "0.17", default-features = false }
tungstenite = { version = "0.17", default-features = false }
uuid = { version = "1.0", features = ["serde", "v4"] }
woothee = "0.13"
